<%# dom_id(workout) => "workout_1" %>
<%= turbo_frame_tag dom_id(workout) do %>
  <% case workout.categories
    when 'Chest'
      image = 'chest1.png'
    when 'Back'
      image = 'back3.png'
    when 'Legs'
      image = 'legs1.png'
    when 'Shoulders'
      image = 'shoulders4.png'
    when 'Abs'
      image = 'abs1.png'
    when 'Biceps'
      image = 'biceps1.png'
    when 'Cardio'
      image = 'cardio.png'
    when 'FullBody'
      image = 'all.png'
    when 'Triceps'
      image = 'triceps1.png'
    when 'UpperBody'
      image = 'upperbody.png'
    when 'LowerBody'
      image = 'legs1.png'
    end
  %>
  <div class="workout-card" style="background-image: url(<%= asset_path(image) %>);">
    <div class="workout-info d-flex align-items-center">
      <h4><%= workout.categories %></h4>
      <%= link_to edit_workout_path(workout) do %>
        <sup><i class="fa-solid fa-pen-to-square fa-xl"></i></sup>
      <% end %>
    </div>
    <div class="workout-card-links">
      <%= link_to workout_exercises_path(workout), data: { turbo_frame: dom_id(workout, :exercises), id: "list" } do %>
        <i class="fa-solid fa-dumbbell fa-xl"></i>
      <% end %>
    </div>
  </div>
  <div>
    <%= turbo_frame_tag dom_id(workout, :exercises) do %>
    <% end %>
  </div>
<% end %>

<% if false %>
  <div class="workout-card-exercises d-none" data-add-exercises-to-workout-target="div">
    <div class="exercises">
      <% workout.exercises.each do |exercise| %>
        <p><%= exercise.name %><%= exercise.weight %><%= exercise.sets %><%= exercise.reps %></p>
      <% end %>
    </div>
    <div class="add-exercise">
      <div class="text-center">
        <strong><p>Create a new Exercise</p></strong>
        <%= link_to new_workout_exercise_path(workout), target: :_top, html:{data: {action:"submit->add-exercises-to-workout#display"}} do %>
          <i class="fa-solid fa-circle-plus fa-2xl"></i>
        <% end %>
        <div class="d-none form-exercise" data-add-exercises-to-workout-target="exerciseForm">
          <%= simple_form_for [@workout_program, @exercise] do |f| %>
            <%= f.input :name , input_html: { autocomplete: "email", class: "transparent", placeholder: "Email" } %>
            <%= f.input :weight %>
            <%= f.input :sets %>
            <%= f.input :reps %>
            <%= f.submit "Add", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
