<%# dom_id(workout) => "workout_1" %>
<%= turbo_frame_tag dom_id(workout) do %>
  <div class="workout-card">
    <h4><%= workout.categories %></h4>
    <div class="workout-card-links">
      <%= link_to edit_workout_path(@workout_program[:id]) do %>
        <i class="fa-solid fa-pen-to-square fa-sm"></i>
      <% end %>
      <%= link_to workout_exercises_path(workout), data: { turbo_frame: dom_id(workout, :exercises), id: "list" } do %>
        <i class="fa-solid fa-list fa-sm"></i>
      <% end %>
    </div>
  </div>
  <div>
    <%= turbo_frame_tag dom_id(workout, :exercises) do %>
    <% end %>
  </div>
<% end %>

<% if false %>
  <div class="workout-card-exercises d-none" data-add-exercises-to-workout-target="div">
    <div class="exercises">
      <% workout.exercises.each do |exercise| %>
        <p><%= exercise.name %><%= exercise.weight %><%= exercise.sets %><%= exercise.reps %></p>
      <% end %>
    </div>
    <div class="add-exercise">
      <div class="text-center">
        <strong><p>Add New Exercise</p></strong>
        <%= link_to new_workout_exercise_path(workout), target: :_top, html:{data: {action:"submit->add-exercises-to-workout#display"}} do %>
          <i class="fa-solid fa-circle-plus fa-2xl"></i>
        <% end %>
        <div class="d-none" data-add-exercises-to-workout-target="exerciseForm">
          <%= simple_form_for [@workout_program, @exercise] do |f| %>
            <%= f.input :name %>
            <%= f.input :weight %>
            <%= f.input :sets %>
            <%= f.input :reps %>
            <%= f.submit "Add", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
