<div class="global-container">
  <div class="text-white fw-bold mt-5">
    <p class="fw-bold">Choose your exercises</p>
    <%= simple_form_for @workout do |f| %>
      <%= f.input :exercise_ids, collection: Exercise.where(workout_id: nil), input_html: {class:"transparent form-control-lg", multiple: true, data: {controller: "tom-select", tom_select_options_value: {tags: true, maxOptions: nil}}}, label_method: :name, value_method: :id , label:false%> <!-- Maybe implement a auto-complete search feature? -->
      <%= f.button :submit, class:"button-green text-black w-100"%>
    <% end %>
    <div class="mx-auto d-block">
      <%= link_to "Cancel",  workout_program_path(current_user.workout_program), class:"btn-already text-white mt-3" %>
    </div>
  <%= image_tag 'FAVICON.png', class: "center w-100 mt-5" %>
  </div>
</div>
