<div>
  <%= turbo_frame_tag dom_id(@workout) do %>
    <%= simple_form_for @workout do |f|%>
    <p class="text-white fw-bold">Categories</p>
      <%= f.input :categories, collection: ['Chest', 'Back', 'Legs', 'Shoulders', 'Biceps', 'Triceps', 'Abs', 'Cardio', 'UpperBody', 'LowerBody', 'FullBody'], label:false%>
      <%= f.submit class:"button-green w-100" %>
    <% end %>
    <%= link_to "Cancel", workout_program_path(@workout.workout_program), class:"btn-already text-decoration-none text-white mt-3" %>
  <% end %>
</div>
