<div class="gx-0" id="authentication">
  <div class="row gx-0">
    <div class="col-12">
     <%= link_to root_path, class: "navbar-brand" do%>
      <% image_tag 'favicon2.png', class: "center" %>
        <% end %>
      <h2>Forgot your password?</h2>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "transparent", placeholder: "Email"   } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset instructions", class:"button-green w-100 mt-4 mb-3" %>
        </div>
         <div>
         <%= link_to "Cancel", new_session_path(resource_name), class:"btn-already text-white" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
