<div class="categories" data-library-exercises-target="list">
  <p class="text-end">
    <% if params[:search].blank? %>
      <%= pluralize exercises.count, "exercise" %> searched for
    <% else %>
      <%= pluralize exercises.count, "result" %> for "<em><%= params[:search] %></em> "
    <% end %>
  </p>
  <% exercises.each do |exercise| %>
    <p><%= exercise.name %></p>
  <% end %>
  <% categories = ['Chest', 'Biceps', 'Triceps', 'Abs', 'Back', 'Legs', 'Shoulders', 'All', 'Cardio'] %>
  <% categories.each do |category| %>
   <% css_class = case category
    when 'Chest'
      'chest'
    when 'Back'
      'back'
    when 'Legs'
      'legs'
    when 'Shoulders'
      'shoulders'
    when 'Abs'
      'abs'
    when 'Biceps'
      'biceps'
    when 'Cardio'
      'cardio'
    when 'All'
      'all'
    when 'Triceps'
      'triceps'
    end
  %>

    <div class="category-card <%= css_class %>" data-library-exercises-target="button" data-action="click->library-exercises#showExercises" id ="<%= category %>">
      <h2><%= category %></h2>
    </div>
    <!-- DATA ACTION IS ONLY WORKIN FORM CHEST CATEGORY - NEEDS DEBUGGING -->
    <div class="d-none" data-library-exercises-target="exercises" id ="<%= category %>">
      <div class="styling_exercises">
      <% case category %>
      <% when 'Chest' %>
        <% chest_exercises = Exercise.all.select { |exercise| exercise.bodyPart == 'chest' } %>
        <% chest_exercises.each do |chest_exercise| %>
          <p><%= chest_exercise.name %></p>
        <% end %>
      <% when 'Back' %>
        <% back_exercises = Exercise.all.select { |exercise| exercise.bodyPart == 'back' } %>
        <% back_exercises.each do |back_exercise| %>
          <p><%= back_exercise.name %></p>
        <% end %>
      <% when 'Legs' %>
        <% legs_exercises = Exercise.all.select { |exercise| exercise.bodyPart == 'upper legs' || exercise.bodyPart == 'lower legs' } %>
        <% legs_exercises.each do |legs_exercise| %>
          <p><%= legs_exercise.name %></p>
        <% end %>
      <% when 'Shoulders' %>
        <% shoulder_exercises = Exercise.all.select { |exercise| exercise.bodyPart == 'shoulders'} %>
        <% shoulder_exercises.each do |shoulder_exercise| %>
          <p><%= shoulder_exercise.name %></p>
        <% end %>
      <% when 'Biceps' %>
        <% biceps_exercises = Exercise.all.select { |exercise| exercise.target == 'biceps'} %>
        <% biceps_exercises.each do |biceps_exercise| %>
          <p><%= biceps_exercise.name %></p>
        <% end %>
      <% when 'Triceps' %>
        <% triceps_exercises = Exercise.all.select { |exercise| exercise.target == 'triceps'} %>
        <% triceps_exercises.each do |triceps_exercise| %>
          <p><%= triceps_exercise.name %></p>
        <% end %>
      <% when 'Abs' %>
        <% abs_exercises = Exercise.all.select { |exercise| exercise.target == 'abs'} %>
        <% abs_exercises.each do |abs_exercise| %>
          <p><%= abs_exercise.name %></p>
        <% end %>
      <% when 'Cardio' %>
        <p><%= 'Seed some Cardio exercises, because this API does not have that 🤣' %></p>
          <% when 'All' %>
        <% all_exercises = Exercise.all%>
        <% all_exercises.each do |all_exercise| %>
          <p><%= all_exercise.name %></p>
        <% end %>
      <% else %>
        <% exercises.each do |exercise| %>
          <p><%= exercise.name %></p>
        <% end %>
      <% end %>
       </div>
    </div>
  <% end %>
</div>
