<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do%>
     <i class="fa-solid fa-dumbbell"></i>
    <% end %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="me-3">
          <% if @workout_program %>
            <%= link_to "Workout Programs", workout_program_path(@workout_program), class: "dropdown-item" %>
          <% else %>
            <%= link_to "Create Workout Program", new_workout_program_path, class: "dropdown-item text-white fw-bold" %>
          <% end %>
        </li>
        <li class="me-3">
          <!-- This image tag belongs to the user's profile picture! Use the .avatar id to style it -->
          <%= image_tag "kev.jpg", alt: "Avatar of the User", id:"avatar" %>
        </li>
        <li class="nav-item dropdown">
          <i class="fa-solid fa-gear me-3" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/">Home</a>
              <a class="dropdown-item" href="/profile">Profile</a>
              <a href="/achievements" class="dropdown-item">Achievements</a>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
