<div class="container mt-0  rounded-0 text-center" id="home-background">
  <% if current_user.workout_program.present? %>
    <h1 class="fw-bold mt-4">Current Workout Program</h1>
    <h1 class="fw-bold mb-4"><%= current_user.workout_program.weekly_frequency %> times per week</h1>
    <% current_user.workout_program.workouts.each do |workout| %>
    <div class="home-cards text-white mb-0">
      <h3 class="mb-0 g-0 p-0"><%= workout.categories %></h3>
      <% workout.exercises.each do |exercise| %>
        <div class="gif-cards d-flex align-items-center">
          <%= image_tag(exercise.gif, class:"gifs")%>
          <h6><%= exercise.name %></h6>
        </div>
      <% end %>
    </div>
    <% end %>
  <% else %>
    <div class="w-100">
      <%= image_tag "favicon2.png" , class:"w-100"%>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <h1>You have no program yet</h1>
        <%= link_to "Lets Start", new_workout_program_path, class:"button-green text-black text-decoration-none" %>
      </div>
    </div>
  <% end %>
</div>
