<div class="global-container">
<<<<<<< HEAD

<div class="container2 user-goal my-3 text-center">
    <h2>Welcome <%= current_user.username %>!</h2>
    <p>Welcome to your profile page, your personal fitness hub! Here, you have the power to shape your fitness journey. Easily set and track your goals, customize your metrics, and showcase your progress with your profile picture. It's your space to make every workout count and celebrate your achievements. Let's get started on your path to a healthier, stronger you!</p>
</div>


<div class="container2 text-center" data-controller="edit-profile">
  <div class="user-info my-3">
    <div data-edit-profile-target="infos">
      <h2 class="mb-4">My Metrics <i class="fa-solid fa-pen-to-square" data-action="click->edit-profile#displayForm"></i></h2>
       <%= cl_image_tag current_user.avatar.key, alt: "Avatar of the User", id: "profile_avatar" if current_user.avatar.attached? %>
=======
  <div class="container2 justify-content-center">
    <h2 class="text-center mb-0">My Profile</h2>
  </div>
  <div class="container2" data-controller="edit-profile">
    <div class="user-info my-3">
      <div data-edit-profile-target="infos">
        <h2 class="mb-4">My Metrics <i class="fa-solid fa-pen-to-square" data-action="click->edit-profile#displayForm"></i></h2>
        <p>PROFILE PICTURE HERE</p>
>>>>>>> master
        <p><strong>Name: </strong> <%= current_user.username %></p>
        <p><strong>Email: </strong><%= current_user.email %></p>
        <p><strong>Age: </strong><%= current_user.age %></p>
        <p><strong>Weight: </strong><%= current_user.weight %></p>
        <p><strong>Height: </strong><%= current_user.height %></p>
        <p><strong>Gender: </strong><%= current_user.gender %></p>
<<<<<<< HEAD
        <p><strong id="userGoal">Goal:<%= current_user.goal %></strong></p>
    </div>
=======
      </div>
>>>>>>> master
      <!-- Simple form to edit user information -->
      <%= simple_form_for current_user, html: {class: "d-none"}, data: { edit_profile_target: "form" } do |f| %>
        <%= f.file_field :avatar, label: 'Change Profile Picture', class: 'profile-input-pic' %>
        <%= f.button :submit, 'Upload', class: 'workoutbtn my-3' %>
        <%= f.input :username, label: false, input_html: { class: 'profile-input' } %>
        <%= f.input :email, label: false, input_html: { class: 'profile-input' } %>
        <%= f.input :age, label: false, input_html: { class: 'profile-input' } %>
        <%= f.input :weight, label: false, input_html: { class: 'profile-input' } %>
        <%= f.input :height, label: false, input_html: { class: 'profile-input' } %>
        <%= f.input :gender, label: false, input_html: { class: 'profile-input' } %>
        <%= f.button :submit, class: "workoutbtn mb-3" %>
      <% end %>
    </div>
<<<<<<< HEAD
</div>

<div class="container2 user-goal text-center">
  <h2>My Goal <sup><i id="goalIcon" class="fa-solid fa-pen-to-square"  data-action="click->edit-profile#displayForm"></i></sup></h2>
    <select id="goalSelect" class="hidden centered-select">
      <option value="Weight Loss">Weight Loss</option>
      <option value="Gain Muscle">Gain Muscle</option>
      <option value="Get Shredded">Get Shredded</option>
      <option value="Improve Flexibility">Improve Flexibility</option>
    </select>
  <div id="goalMessage" class="goal-message my-3"></div>
</div>

 <div class="container2 user-goal mb-3">
<div class="container1 mx-4 my-3 justify-content-center">
  <h2 class="text-center"><i class="fa-solid fa-dumbbell"></i> Latest unlocks <i class="fa-solid fa-dumbbell"></i></h2>
</div>

<div class="container3 mx-4 justify-content-center bg-dark">
  <p class="text-center">No achievements yet</p>
</div>
=======
  </div>
  <div class="container2 user-goal">
    <h2>My Goals <i class="fa-solid fa-pen-to-square"></i></h2>
    <p>Weight Loss</p>
    <p>For those aiming to achieve their weight loss goals through our gym app, it's essential to design a workout routine that focuses on calorie burn, muscle toning, and overall fitness. To start, prioritize cardio exercises like running, cycling, or jumping rope, as they are excellent for torching calories and improving cardiovascular health. These activities help create a calorie deficit, which is crucial for shedding pounds.</p>
    <p>You have a total of X cardio exercises planned this month. Go and create a workout now!</p>
    <a href="/workout" class="workoutbtn mb-2">CREATE WORKOUT</a>
  </div>
  <div class="container1 mx-4 justify-content-center">
    <h2 class="text-center"><i class="fa-solid fa-dumbbell"></i> Latest Achievements <i class="fa-solid fa-dumbbell"></i></h2>
  </div>
  <div class="container3 mx-4 justify-content-center bg-dark">
    <p class="text-center">No achievements yet</p>
  </div>
>>>>>>> master
</div>
