<div class="workout-program">
  <h1>Create a workout program</h1>
  <%= form_with model: @workout_program do |f| %>
    <%= f.text_field :weekly_frequency %>
    <%= f.date_field :start_date %>
    <%= f.date_field :end_date %>
    <%= f.submit %>
  <% end %>
</div>
