<% if user_achievements.include?(achievement) %>

    <div class="mb2" style="color: #C4ED6D;"><strong><h4 class="mt-5"><%= achievement.name %></strong></h4></div>
   <div class="achievement"> <div><%= achievement.category %></div>
    <div>
      <span>1</span>
      <span>/</span>
      <span>1</span>
    </div>

  </div>
  <div class="<%= achievement.trophy %>description"><p><%= achievement.description %><div>Unlocked! <%= image_tag "#{achievement.trophy}trophy.png", alt: "#{achievement.trophy.capitalize} Trophy", width: 20, height: 20 %></div></p></div>

<% else %>
<div style="color: #C4ED6D;"><strong><h4 class="mt-5"><%= achievement.name %></h4></strong></div>
  <div class="achievement" data-controller="achievement">

    <div><%= achievement.category %></div>
    <div data-target="achievement.progress">
      <span data-target="achievement.progressValue">0</span>
      <span>/</span>
      <span data-target="achievement.goal"><%= achievement.goal %></span>
    </div>

    <div data-action="click->achievement#completeWorkout" data-target="achievement.completeButton">

    </div>
  </div>
  <div class='description'><p><%= achievement.description %></p>
  <% unless achievement.status == 'Unlocked' %>
      <% else %>
        Achievement Unlocked
      <% end %>
        <div data-target="achievement.status"><%= achievement.status %></div></div>
  <% if current_user.bronze_achievement1? && achievement.name == "Newbie Gains" %>
    <%= button_to raw('Unlocked! <i class="fa-solid fa-unlock"></i>'), bronze1_path, data: {turbo_method: :post}, class: 'button-achievement' %>
  <% end %>
  <% if current_user.bronze_achievement2? && achievement.name == "One is better than nothing" %>
    <%= button_to raw('Unlocked! <i class="fa-solid fa-unlock"></i>'), bronze2_path, data: {turbo_method: :post}, class: 'button-achievement' %>
  <% end %>
  <% if current_user.silver_achievement1? && achievement.name == "Wannabe Powerlifter" %>
    <%= button_to raw('Unlocked! <i class="fa-solid fa-unlock"></i>'), silver1_path, data: {turbo_method: :post}, class: 'button-achievement' %>
  <% end %>
  <% if current_user.silver_achievement2? && achievement.name == "Volume is key" %>
    <%= button_to raw('Unlocked! <i class="fa-solid fa-unlock"></i>'), silver2_path, data: {turbo_method: :post}, class: 'button-achievement' %>
  <% end %>
  <% if current_user.gold_achievement1? && achievement.name == "Biceps Abuser" %>
    <%= button_to raw('Unlocked! <i class="fa-solid fa-unlock"></i>'), gold1_path, data: {turbo_method: :post}, class: 'button-achievement' %>
  <% end %>
  <% if current_user.gold_achievement2? && achievement.name == "Never Skip Leg Day" %>
    <%= button_to raw('Unlocked! <i class="fa-solid fa-unlock"></i>'), gold2_path, data: {turbo_method: :post}, class: 'button-achievement' %>
  <% end %>
  <% if current_user.platinum_achievement1? && achievement.name == "Lightweight baby" %>
    <%= button_to raw('Unlocked! <i class="fa-solid fa-unlock"></i>'), platinum1_path, data: {turbo_method: :post}, class: 'button-achievement' %>
  <% end %>
  <% if current_user.platinum_achievement2? && achievement.name == "Who is gonna carry the boats?" %>
    <%= button_to raw('Unlocked! <i class="fa-solid fa-unlock"></i>'), platinum2_path, data: {turbo_method: :post}, class: 'button-achievement' %>
  <% end %>
<% end %>
