<<<<<<< HEAD
<div class="container mb-4">
=======
<div class="container mt-2 mb-4">
>>>>>>> 78f1b4291e83ed3cdf1332c4e57916e2fa49cfea
     <h2 class="text-center mb-3">Achievements Overview</h2>
    <div class="wrapper">
      <div class="py-3 px-3 text-center"> <h1>This year you worked out for <span id="workedHours">76.5</span> hours.</h1>
          <p>Take a look at your previous trainings and see where you spent the most time.</p></div>
      <div class="text-center py-3 px-3">
        <h1 class="py-3 px-3">Statistics</h2>
        <p><i class="fa-solid fa-star"></i> Your favourite exercise seems to be "squats" which you completed 20 times this month!</p>
        <p><i class="fa-solid fa-dumbbell"></i> Your favourite muscle group to workout is "legs", which you picked 7 times this month!</p>
        <p><i class="fa-solid fa-chart-line"></i> Your strongest excercise is "leg press", where you improved by 16kg this month!</p>
      </div>
      <div class="py-3 px-3 text-center"> <p>You've added to your collection<span id="trophyAmount">7</span>trophies</p>

            <span>Check the achievements below on how to get more!</span></div>
      <div class="text-center py-3 px-3">
        <h2 class="mb-3">Your trophy cabinet</h2>
        <ul class="trophy-list">
          <div class="row border-0">
            <li class="mb-2">
             <%= image_tag "platinumtrophy.png", alt: "Platinum Trophy", width: 60, height: 60 %>
             <span id="platinumCount">1 x</span>
            </li>
            <li class="mb-2">
              <%= image_tag "goldtrophy.png", alt: "Gold Trophy", width: 50, height: 50 %>
              <span id="goldCount">1 x</span>
            </li></div>
          <div class="row border-0">
            <li class="mb-3">
              <%= image_tag "silvertrophy.png", alt: "Silver Trophy", width: 40, height: 40 %>
              <span id="silverCount">2 x</span>
            </li>
            <li class="mb-2">
             <%= image_tag "bronzetrophy.png", alt: "Bronze Trophy", width: 40, height: 40 %>
             <span id="bronzeCount">3 x</span>
            </li>
          </div>
        </ul></div>
    </div>
    <h2 class="text-center mt-4 mb-4"><i class="fa-solid fa-dumbbell"></i> Unlockables <i class="fa-solid fa-dumbbell"></i></h2>
      <div data-controller="controller">
      <div class="sort-buttons text-center my-4">
        <button class="custom-button" data-action="click->controller#sort" data-url="/achievements/category"  data-sort="category">Sort by Category</button>
        <button class="custom-button" data-action="click->controller#sort" data-url="/achievements/completion"  data-sort="completion">Sort by Completion</button>
        <button class="custom-button" data-action="click->controller#sort" data-url="/achievements/status"  data-sort="status">Sort by Status</button>
      </div>

    <div class="achievements">
      <div>Achievement</div>
      <div>Category</div>
      <div>Progress</div>
    </div>

    <!-- FROM HERE: ONLY FOR DEMO PURPOSES, CAN REMOVE LATER -->

<div class="achievement">
  <div class="mr-3" style="color: $app-color;"><strong>Welcome to ShapeSync!</strong></div>
  <div>General</div>
  <div>
    <span>1</span>
    <span>/</span>
    <span>1</span>
  </div>

  </div>
<div class="bronzedescription"><p>Create an account<div>Unlocked! <%= image_tag "bronzetrophy.png", alt: "Bronze Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: $app-color;"><strong>Abs Amateur</strong></div>
  <div>Abs</div>
  <div>
    <span>5</span>
    <span>/</span>
    <span>5</span>
  </div>

</div>

<div class="bronzedescription"><p>Do 5 abs exercises <div>Unlocked! <%= image_tag "bronzetrophy.png", alt: "Bronze Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: $app-color;"><strong>Leg Day Survivor</strong></div>
  <div>Legs</div>
  <div>
    <span>5</span>
    <span>/</span>
    <span>5</span>
  </div>

</div>

<div class="bronzedescription"><p>Do 5 leg exercises<div>Unlocked! <%= image_tag "bronzetrophy.png", alt: "Bronze Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: $app-color;"><strong>Abs Apprentice</strong></div>
  <div>Abs</div>
  <div>
    <span>25</span>
    <span>/</span>
    <span>25</span>
  </div>

</div>
<div class="silverdescription"><p>Do 25 abs exercises <div>Unlocked! <%= image_tag "silvertrophy.png", alt: "Silver Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: $app-color;"><strong>Legs Connoisseur</strong></div>
  <div>Legs</div>
  <div>
    <span>25</span>
    <span>/</span>
    <span>25</span>
  </div>

</div>
<div class="silverdescription"><p>Do 25 leg exercises <div>Unlocked! <%= image_tag "silvertrophy.png", alt: "Silver Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: $app-color;"><strong>Legendary Legmaster</strong></div>
  <div>Legs</div>
  <div>
    <span>80</span>
    <span>/</span>
    <span>80</span>
  </div>
</div>
<div class="golddescription"><p>Do 80 leg exercises<div>Unlocked! <%= image_tag "goldtrophy.png", alt: "Gold Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: $app-color;"><strong>Legendary Legmaster</strong></div>
  <div>Legs</div>
  <div>
    <span>80</span>
    <span>/</span>
    <span>80</span>
  </div>
</div>
<div class="platdescription"><p>Do 200 leg exercises<div>Unlocked! <%= image_tag "platinumtrophy.png", alt: "Platinum Trophy", width: 20, height: 20 %></div></p></div>

<!-- UNTIL HERE: ONLY FOR DEMO PURPOSES, CAN REMOVE LATER -->



<div  data-controller-target="achievements">
<% @achievements.each do |achievement| %>
<%= render 'achievement', achievement: achievement  %>
<% end %>
</div>
</div>
