<div class="container mt-2 mb-4">
    <div class="wrapper">
      <div class="py-3 px-3 text-center p-4"> <h1>Welcome fellow Gymrat</h1>
          <p>Lift heavy weights, blast some pre-workout, and try to collect them all!</p></div>
      <div class="text-center py-3 px-3 p-4">
        <h1 class="py-3 px-3">Gymtistics</h2>
       <p class="mt-4"><i class="fa-solid fa-star" id="icn"></i></p><p> Favorite body part to sculpt</p><p> <strong><%= current_user.favorite_bodypart.nil? ? 'None' : current_user.favorite_bodypart[0].capitalize %> </strong> : Crushed <%= current_user.favorite_bodypart.nil? ? '0' : current_user.favorite_bodypart[1] %> weekly sets!</p>
       <p class="mt-4"><i class="fa-solid fa-dumbbell" id="icn"></i> </p><p>Top muscle for pumping reps</p><p><strong><%= current_user.favorite_target.nil? ? 'None' : current_user.favorite_target[0].capitalize %></strong> : Nailed <%= current_user.favorite_target.nil? ? '0' : current_user.favorite_target[1] %> weekly reps!</p>
       <p class="mt-4"><i class="fa-solid fa-chart-line" id="icn"></i></p><p> Absolute beast mode exercise</p><p><strong> <%= current_user.strongest_exercise.nil? ? 'None' : current_user.strongest_exercise.name.capitalize %></strong> : Mastered an epic <%= current_user.strongest_exercise.nil? ? '0' : current_user.strongest_exercise.weight %>kg!</p>
      </div>
      <div class="py-3 px-3 text-center p-4"> <p>So far you've collected<span id="trophyAmount"><%= current_user.user_achievements.count %></span><h2>trophies</h2></p>

            <span>Check the achievements below on how to get more!</span></div>
      <div class="text-center py-3 px-3">
        <h2 class="mb-3">Your trophy cabinet</h2>
        <ul class="trophy-list text-center">
          <div class="row border-0">
            <li class="mb-2">
             <%= image_tag "platinumtrophy.png", alt: "Platinum Trophy", width: 60, height: 60 %>
             <span id="platinumCount">x <%= current_user.achievements.where(trophy: "platinum").count %></span>
            </li>
            <li class="mb-2">
              <%= image_tag "goldtrophy.png", alt: "Gold Trophy", width: 50, height: 50 %>
              <span id="goldCount">x <%= current_user.achievements.where(trophy: "gold").count %></span>
            </li></div>
          <div class="row border-0">
            <li class="mb-3 mt-2">
              <%= image_tag "silvertrophy.png", alt: "Silver Trophy", width: 40, height: 40 %>
              <span id="silverCount">x <%= current_user.achievements.where(trophy: "silver").count %></span>
            </li>
            <li class="mb-2">
             <%= image_tag "bronzetrophy.png", alt: "Bronze Trophy", width: 40, height: 40 %>
             <span id="bronzeCount">x <%= current_user.achievements.where(trophy: "bronze").count %></span>
            </li>
          </div>
        </ul></div>
    </div>
    <h2 class="text-center mt-4 mb-4"><i class="fa-solid fa-dumbbell"></i> Unlockables <i class="fa-solid fa-dumbbell"></i></h2>
      <div data-controller="controller">
      <div class="sort-buttons text-center my-4">
        <button class="custom-button" data-action="click->controller#sort" data-url="/achievements/category"  data-sort="category">Sort by Category</button>
        <button class="custom-button" data-action="click->controller#sort" data-url="/achievements/completion"  data-sort="completion">Sort by Completion</button>
        <button class="custom-button" data-action="click->controller#sort" data-url="/achievements/status"  data-sort="status">Sort by Status</button>
      </div>

    <div class="achievements mb-4">
      <div>Category</div>
      <div>Achievement</div>
      <div>Progress</div>
    </div>

  <div data-controller-target="achievements">
  <% map_achievements = current_user.user_achievements.map{ |user_achievement| user_achievement.achievement } %>
  <% @achievements.each do |achievement| %>
  <%= render 'achievement', achievement: achievement, user_achievements: map_achievements  %>
  <% end %>
  </div>
<!-- FROM HERE: ONLY FOR DEMO PURPOSES, CAN REMOVE LATER

<div class="achievement">
  <div class="mr-3" style="color: white;"><strong>Welcome to ShapeSync!</strong></div>
  <div>General</div>
  <div>
    <span>1</span>
    <span>/</span>
    <span>1</span>
  </div>

  </div>
<div class="bronzedescription"><p>Create an account<div>Unlocked! <%= image_tag "bronzetrophy.png", alt: "Bronze Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: white;"><strong>Abs Amateur</strong></div>
  <div>Abs</div>
  <div>
    <span>5</span>
    <span>/</span>
    <span>5</span>
  </div>

</div>

<div class="bronzedescription"><p>Do 5 abs exercises <div>Unlocked! <%= image_tag "bronzetrophy.png", alt: "Bronze Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: white;"><strong>Leg Day Survivor</strong></div>
  <div>Legs</div>
  <div>
    <span>5</span>
    <span>/</span>
    <span>5</span>
  </div>

</div>

<div class="bronzedescription"><p>Do 5 leg exercises<div>Unlocked! <%= image_tag "bronzetrophy.png", alt: "Bronze Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: white;"><strong>Abs Apprentice</strong></div>
  <div>Abs</div>
  <div>
    <span>25</span>
    <span>/</span>
    <span>25</span>
  </div>

</div>
<div class="silverdescription"><p>Do 25 abs exercises <div>Unlocked! <%= image_tag "silvertrophy.png", alt: "Silver Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: white;"><strong>Legs Connoisseur</strong></div>
  <div>Legs</div>
  <div>
    <span>25</span>
    <span>/</span>
    <span>25</span>
  </div>

</div>
<div class="silverdescription"><p>Do 25 leg exercises <div>Unlocked! <%= image_tag "silvertrophy.png", alt: "Silver Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: white;"><strong>Legendary Legmaster</strong></div>
  <div>Legs</div>
  <div>
    <span>80</span>
    <span>/</span>
    <span>80</span>
  </div>
</div>
<div class="golddescription"><p>Do 80 leg exercises<div>Unlocked! <%= image_tag "goldtrophy.png", alt: "Gold Trophy", width: 20, height: 20 %></div></p></div>

<div class="achievement">
  <div style="color: white;"><strong>Legendary Legmaster</strong></div>
  <div>Legs</div>
  <div>
    <span>80</span>
    <span>/</span>
    <span>80</span>
  </div>
</div>
<div class="platdescription"><p>Do 200 leg exercises<div>Unlocked! <%= image_tag "platinumtrophy.png", alt: "Platinum Trophy", width: 20, height: 20 %></div></p></div>
 UNTIL HERE: ONLY FOR DEMO PURPOSES, CAN REMOVE LATER -->



</div>
