<h1>Edit Exercise</h1>
<%= turbo_frame_tag dom_id(exercise) do %>
  <%= link_to 'Back', workout_exercises_path(@workout) %>
  <%= simple_form_for [@workout, @exercise] do |f| %>
    <%= f.input :name %>
    <%#= f.input :category, collection: ['Chest', 'Back', 'Legs', 'Shoulders', 'Biceps', 'Triceps', 'Abs', 'Cardio', 'UpperBody', 'LowerBody', 'FullBody'] %>
    <%= f.input :sets %>
    <%= f.input :reps %>
    <%= f.input :weight, step: 0.1, placeholder: "Enter weight in kg" %>
    <%#= f.input :rest, step: 1, placeholder: "Enter duration in minutes" %>
    <%#= f.input :rpe, step: 1, placeholder: "Rate the intensity of your workout" %>
    <%= f.submit %>
  <% end %>
<% end %>
