<%= turbo_frame_tag dom_id(@workout, :exercises) do %>
  <%= link_to 'Hide exercises', workout_program_path(@workout.workout_program), data: { turbo_frame: :_top } %>
  <div class="d-flex align-items-center justify-space-between">
    <strong><p>Exercises:</p></strong>
  </div>
  <% if @exercises.any? %>
    <% @exercises.each do |exercise|  %>
      <div class="border p-2 rounded mb-1">
        <div class="text-center">
          <p><%= exercise.name %></p>
        </div>
        <div class="d-flex justify-content-around">
          <p>Sets: <%= exercise.sets %> </p>
          <p>Reps: <%= exercise.reps %> </p>
          <p>Weight: <%= exercise.weight %> kg</p>
        </div>
      </div>
    <%end %>
  <% else %>
    <p>No exercises yet...</p>
  <% end %>
  <div class="d-flex justify-content-center">
    <div class="text-center">
      <strong><p>Add new Exercise</p></strong>
      <%= link_to new_workout_exercise_path(@workout) do %>
        <i class="fa-solid fa-circle-plus fa-2xl text-center"></i>
      <% end %>
    </div>
  </div>
<% end %>
